@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-main: #b9ff66;
  --color-sub: #191a23;
  --color-button1: #f3f3f3;
}
.ProseMirror:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* index.css or 글로벌 스타일 */
.ProseMirror table {
  @apply w-full border-collapse;
}
.ProseMirror th,
.ProseMirror td {
  @apply border border-gray-300 p-2 text-left;
}

